@font-face {
  font-family: "gilroy-heavy";
  src: url("../fonts/gilroy-heavy.ttf"); }

@font-face {
  font-family: "SF";
  src: url("../fonts/SFPRODISPLAYBOLD.OTF"); }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf"); }

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf"); }

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

.container {
  width: 1088px;
  max-width: 90%;
  margin: 0 auto; }

.header__menu-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 36px 0 55px 0;
  -ms-flex-align: center;
      align-items: center; }

.header__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .header__menu ul {
    display: -ms-flexbox;
    display: flex;
    margin-right: 52px; }
  .header__menu li:not(:last-child) {
    margin-right: 42px; }
  .header__menu a {
    font-family: "Poppins";
    font-size: 12px;
    color: #080940;
    transition: color .2s; }
  .header__menu a:hover {
    text-decoration: none;
    color: #474DFF; }

.header__btn {
  margin-top: -10px;
  cursor: pointer;
  padding: 13px 34px; }

.header__hero {
  display: -ms-flexbox;
  display: flex; }
  .header__hero-title {
    margin-bottom: 30px; }
    .header__hero-title h1 {
      font-family: "gilroy-heavy";
      font-size: 76px;
      color: #080940; }

.header__hero-btn {
  padding: 21px 28px;
  font-size: 20px;
  width: 100%;
  max-width: 202px;
  text-align: center; }

.free__btn a {
  color: #fff;
  font-family: "SF";
  text-transform: uppercase; }
  .free__btn a:hover {
    color: #fff; }

.free__btn {
  cursor: pointer;
  background: #3740FF;
  border-radius: 8px;
  transition: background .4s; }
  .free__btn:hover {
    background: #080940; }

.package {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .package__img {
    max-width: 100%; }
  .package__text {
    width: 432px;
    max-width: 100%; }
    .package__text-title {
      font-size: 38px;
      font-family: "gilroy-heavy";
      color: #080940; }
    .package__text-subtitle {
      color: #545AEE;
      font-size: 14px;
      font-family: "SF";
      margin: 50px 0 55px 0; }
    .package__text-date {
      font-family: "SF";
      font-size: 14px;
      color: #080940; }

.package-date {
  font-size: 18px;
  color: #FF014E; }

.price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 120px 0; }
  @media (max-width: 1220px) {
    .price {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .price :not(:last-child) {
        margin-bottom: 25px; } }
  .price__item {
    cursor: pointer;
    border-radius: 30px;
    background: #7d81ff .3;
    border: 2px solid rgba(112, 112, 112, 0.02);
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    transition: all .3s;
    text-align: center; }
    .price__item:not(:last-child) {
      margin-right: 25px; }
  .price__discount {
    background-color: #474DFF;
    color: #fff;
    font-family: "Poppins-Bold";
    font-size: 13px;
    text-transform: uppercase;
    width: 85px;
    border-radius: 20px;
    margin-left: 60px; }
    .price__discount p {
      padding: 7px 12px 6px 18px; }
  .price__followers {
    font-size: 17px;
    font-family: "SF";
    color: #080940; }
  .price__price {
    color: #FF014E;
    font-size: 25px;
    font-family: "SF"; }
  .price__description {
    text-align: left;
    margin-bottom: 26px; }
    .price__description ul {
      position: relative; }
    .price__description li {
      font-size: 12px;
      color: #080940;
      font-family: "Poppins"; }
      .price__description li:not(:last-child) {
        margin-bottom: 26px; }
      .price__description li::before {
        content: '';
        display: block;
        width: 9px;
        height: 9px;
        background: #020202;
        opacity: .1;
        border-radius: 50%;
        position: absolute;
        left: 24px;
        margin-top: 5px; }
  .price__line {
    width: 240px;
    max-width: 100%;
    height: 1px;
    background-color: #707070;
    opacity: .1;
    margin: 13px 0 11px; }
  .price__inner {
    padding: 38px 4px 41px; }

.price-btn {
  cursor: pointer;
  background: none;
  border-radius: 30px;
  border: 2px solid #474DFF;
  text-transform: uppercase;
  font-family: "Poppins";
  font-size: 10px;
  padding: 15px 56px 13px 52px;
  transition: background .3s ease-in-out; }
  .price-btn:hover {
    background: #474DFF;
    color: #fff; }

.price__item.active {
  background: #474DFF;
  transition: all .3s; }
  .price__item.active .price__followers {
    color: #fff; }
  .price__item.active .price__discount {
    background: rgba(255, 255, 255, 0.1); }
  .price__item.active .price__price {
    color: #fff; }
  .price__item.active .price__description ul li {
    color: #fff; }
  .price__item.active .price__btn-wrapper button {
    background: #fff; }
  .price__item.active .price__inner {
    padding: 32px 18px 36px 18px; }

.buy {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 184px; }
  @media (max-width: 1220px) {
    .buy {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .buy__img img {
    width: 681px;
    max-width: 100%; }
  .buy__text {
    margin-right: 15px;
    width: 438px;
    max-width: 100%; }
    .buy__text-title {
      font-size: 38px;
      font-family: "gilroy-heavy";
      color: #020202; }
    .buy__text-mainsubtitle {
      font-size: 20px;
      font-family: "gilroy-heavy"; }
    .buy__text-subtitle {
      font-family: "SF";
      font-size: 14px;
      opacity: .8; }

.best {
  text-align: center; }
  .best__title {
    font-size: 38px;
    font-family: "gilroy-heavy";
    color: #080940; }
  .best__subtitle {
    font-size: 16px;
    font-family: "SF";
    color: #080940;
    opacity: .8;
    margin: 17px 0 107px; }

.card__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 185px; }

.card__item {
  width: 350px;
  max-width: 100%;
  background: #fff;
  border-radius: 50px; }
  .card__item :hover {
    border-radius: 50px;
    background: #dad6ee; }

.card__inner {
  padding: 46px 32px; }

.card__text-title {
  font-family: "Poppins";
  color: #080940;
  font-size: 40px; }
  .card__text-title p {
    font-size: 16px; }

.card__text-subtitle {
  font-family: "Poppins";
  color: #080940; }
  .card__text-subtitle p {
    font-size: 14px; }

.reason {
  background: #474DFF; }
  .reason__wrapper {
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 105px 0 167px;
    -ms-flex-align: center;
        align-items: center; }
    @media (max-width: 1220px) {
      .reason__wrapper {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .reason__text {
    margin-right: 133px;
    max-width: 100%; }
    .reason__text-title {
      color: #fff;
      font-size: 30px;
      width: 461px;
      font-family: "gilroy-heavy"; }
    .reason__text-subtitle {
      color: #fff;
      font-size: 14px;
      font-family: "SF";
      opacity: .8;
      margin-bottom: 89px; }
    .reason__text-item {
      color: #fff;
      font-size: 16px;
      font-family: "SF"; }
      .reason__text-item p {
        margin-bottom: 30px; }
  .reason__right-img img {
    width: 285px;
    max-width: 100%; }
  .reason__right-title {
    font-size: 24px;
    color: #fff;
    font-family: "gilroy-heavy"; }
  .reason__right-subtitle {
    font-size: 14px;
    font-family: "SF";
    color: #fff;
    line-height: 25px; }

.why__wrapper {
  margin: 204px 0 181px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.why__text {
  margin-left: 60px; }
  .why__text-title {
    font-size: 28px;
    font-family: "gilroy-heavy";
    color: #080940; }
  .why__text-subtitle {
    font-size: 14px;
    font-family: "SF";
    line-height: 25px;
    opacity: .8;
    margin: 32px 0 74px; }
  .why__text-btn {
    padding: 14px 33px;
    background: #474DFF;
    width: 89px;
    max-width: 100%;
    border-radius: 10px; }
    .why__text-btn a {
      color: #fff;
      text-transform: uppercase;
      font-family: "Poppins"; }

.qa {
  margin-bottom: 265px; }
  .qa__title h2 {
    text-align: center;
    font-size: 38px;
    font-family: "gilroy-heavy";
    margin-bottom: 119px; }
  .qa__column-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
  .qa__rcolumn {
    margin-right: 122px; }

.questions {
  font-size: 16px;
  line-height: 24px;
  font-family: "Poppins-Bold"; }

.answers {
  font-size: 14px;
  font-family: "Poppins";
  line-height: 18px; }

.qa__rcolumn-wrapper.active {
  border-radius: 20px;
  -ms-flex-align: center;
      align-items: center;
  background: rgba(49, 54, 201, 0.1);
  padding: 32px 15px 23px 31px; }
  .qa__rcolumn-wrapper.active::before {
    content: '';
    display: block;
    height: 137px;
    width: 3px;
    background: red;
    position: absolute;
    margin: 22px 20px 0 0; }

.item-inner.active {
  margin-left: 20px; }

.mark__wrapper {
  display: -ms-flexbox;
  display: flex; }

.mark__title {
  font-family: "gilroy-heavy";
  font-size: 38px;
  line-height: 45px;
  color: #080940;
  margin-right: 144px; }

.mark__item {
  width: 100%;
  max-width: 372px;
  border-radius: 40px;
  padding: 43px 74px 42px 45px;
  box-shadow: 10px 0px 50px rgba(0, 0, 0, 0.059); }
  .mark__item-wrapper {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 744px; }

.mark__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.mark__item-text {
  width: 100%;
  max-width: 278px;
  font-size: 13px;
  font-family: "SF";
  line-height: 20px;
  color: #020202; }

.mark__item-textname {
  font-family: "Poppins-Bold";
  font-size: 13px;
  line-height: 19px;
  color: #020202; }

.mark__btn {
  font-size: 18px;
  font-family: "Poppins-Bold";
  width: 242px;
  max-width: 100%;
  padding: 12px 29px;
  text-align: center;
  margin-top: 46px; }

.footer {
  background: #080940;
  padding: 105px 187px 229px 140px;
  margin-top: 82px; }
  .footer__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    color: #fff;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer__wrapper img {
      margin-top: 25px; }
  .footer h6 {
    font-family: "SF";
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 52px;
    cursor: pointer; }
  .footer p {
    font-size: 13px;
    font-family: "SF";
    line-height: 30px;
    opacity: .5;
    cursor: pointer; }
  .footer button {
    border: none;
    color: #fff;
    padding: 10px 22px;
    text-transform: uppercase; }
