.header {
    &__menu {
        max-height: 85px;
        position: relative;
        padding: 54px 0 32px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav {
        transition: transform 0.1s linear;
        &__link {
            display: flex;
        }
        &__item {
            font-family: $roboto;
            color: $primary;
            font-size: 16px;
            transition: 0.2s ease-in-out;

            &:hover {
                border-bottom: 3px solid #000;
            }
            &,
            :not(:last-child) {
                margin-right: 25px;
            }
        }
    }
    &__burger {
        cursor: pointer;
        width: 65px;
        height: 55px;
        border-radius: 10px;
        position: absolute;
        right: 0;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        margin-right: 40px;
        span {
            display: none;
            width: 33px;
            height: 5px;
            background-color: #fff;
            margin-bottom: 8px;
            border-radius: 5px;
        }
    }

    &__inner {
        margin-bottom: 254px;
        &-main {
            background-image: url(../../img/headerbg.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 35px;
            width: 100%;
            height: 707px;
            position: relative;

            overflow: hidden;
        }
    }
    &__title {
        margin: 216px 15px 217px 76px;

        h1 {
            font-weight: bold;
            font-size: calc(22px + 26 * (100vw / 1280));
            color: #fff;
        }
        p {
            font-weight: 400;
            font-size: calc(18px + 3 * (100vw / 1280));
            color: #fff;
            padding: 18px 0 50px 0;
            line-height: 24px;
        }
    }
}

.header__inner-submain {
    position: relative;
    width: 100%;
    max-width: 1039px;
    height: auto;
    margin: -100px auto;
    display: flex;
    background-color: #000;
    background-image: url(../../img/submainbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 35px;
}
.header__inner-subtitle {
    position: relative;
    width: 100%;
    max-width: 934px;
    height: auto;
    margin: 97px 60px 97px 45px;
    h2 {
        line-height: calc(22px + 29 * (100vw / 1280));
        font-weight: 500;
        font-size: 36px;
        color: #fff;
    }
    p {
        color: #fff;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        padding-top: 30px;
    }
    img {
        padding-top: 30px;

        position: absolute;
        right: 0;
        width: 48px;
        height: 48px;
        margin-right: 65px;
    }
}
.header__title .buttonSee {
    cursor: pointer;
    z-index: 12333;
}

.buttonSee {
    color: $primary;
    background-color: #fff;
    font-weight: 500;
    font-size: 22px;
    padding: 18px 53px;
    border-radius: 53px;
    width: 264px;
    height: 67px;
    border: none;
    padding: 18px 53px;
    transition: 0.2s all ease-in-out;
    &:hover {
        background-color: $primary;
        color: #fff;
    }
}
